venv
node_modules
frontend/node_modules
application/db.db

logger.log

__pycache__
application/__pycache__
application/logger/__pycache__
application/socketController/__pycache__
application/userSession/__pycache__
application/users/__pycache__
