<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col "></div>
    <div class="mdl-cell mdl-cell--4-col ">
      <h4>Login</h4>
    </div>
    <div class="mdl-cell mdl-cell--4-col "></div>
    <div class="mdl-cell mdl-cell--4-col "></div>
    <div class="mdl-cell mdl-cell--4-col ">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" [(ngModel)]="username" type="text" id="username">
        <label class="mdl-textfield__label" for="username">username</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" [(ngModel)]="password" type="password" id="password">
        <label class="mdl-textfield__label" for="password">password</label>
      </div>
      <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="click()">
          log in
        </button>
      </div>
      <div>
        <a routerLink="/login/create"> or create user</a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col "></div>
  </div>

</div>
