<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col "></div>
    <div class="mdl-cell mdl-cell--4-col ">
      <h4>Login</h4>
    </div>
    <div class="mdl-cell mdl-cell--4-col "></div>
    <div class="mdl-cell mdl-cell--4-col "></div>
    <div class="mdl-cell mdl-cell--4-col ">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" placeholder="username" [(ngModel)]="username" type="text" id="username">
        <!-- <label class="mdl-textfield__label" for="username">username</label> -->
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" placeholder="name" [(ngModel)]="name" type="text" id="name">
        <!-- <label class="mdl-textfield__label" for="name">name</label> -->
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" placeholder="email" [(ngModel)]="email" type="text" id="email">
        <!-- <label class="mdl-textfield__label" for="email">email</label> -->
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" placeholder="password" [(ngModel)]="password" type="password" id="password">
        <!-- <label class="mdl-textfield__label" for="password">email</label> -->
      </div>
      <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="click()">
          Create
        </button>
      </div>
      <div>
        <a routerLink="/login"> or login</a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col "></div>
  </div>

</div>
